# Archivos excluidos
.env                # Excluye el archivo .env
.env.local          
.env.*.local

# Entornos virtuales
venv/               # Si usas venv
.env/               # Si usas virtualenv
myenv/              # Si tu entorno tiene otro nombre

# Otros archivos sensibles
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
.DS_Store           

# IDE/Editores
.vscode/
.idea/